* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

section{
    height: 500px;
    padding: 20px;
    margin-bottom: 20px;
}

/*..................................................... header */

header{
    max-width: auto 0;
    height: 200px;
    align-items: center;
    background-color: #2A3F54;
    
}
nav ul {
    list-style: none;
    display: flex;
}

  
nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  .header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
}

.ul-li{
    flex-direction: column;
    
}

.item{
    color:#fff;
    font-size: 40px;
}

/* .........................................................nav-scrol */
.sidebar{
 position: fixed;
 left: 0;
 top: 0;
 width: 200px;
 height: 400px;
 padding-top: 350px;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
}

.sidebar ul li{
    margin: 20px 0;
}

.sidebar ul li a.active{
    background-color: #ACAF50;
    color: white;
}

.sidebar ul li a:hover{
    background-color: #555;
}

/*.................................................................. text-img  */


.text-img{
    background-image: url("../img/");
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-color:#A3CED9;;
    height: 400px;
}

.text-header{
  align-items: end;


}
.text-header h2{
  color:#fff;
  font-size: 60px;
}

.text-header p{
    color:#fff;
    font-size: 60px;

}