* {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

section{
    height: 500px;
    padding: 20px;
    margin-bottom: 20px;
}

ul a, li a {
    all: unset;
    color: inherit; /* Используем цвет родительского элемента */
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer; /* Добавляем указатель, чтобы сохранить функциональность ссылки */
  }

/*..................................................... header */

header{
    max-width: auto 0;
    height: 200px;
    align-items: center;
    background-color: #2A3F54;
    
}
nav ul {
    list-style: none;
    display: flex;
}

  
nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }

  .header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
}

.ul-li{
    flex-direction: column;
    
}

.item{
    color:#fff;
    font-size: 40px;
}

/* .........................................................nav-scrol */
.sidebar{
 background-color: #A3CED9;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.sidebar ul li{
    margin: 20px 20px;
    text-align: center;

}

.nav-link{
    font-size: 20px;
    padding-left: 5px;
    padding-right: 10px;
    color:#2A3F54;
}
.text-nav-link{
    font-size: 40px;
    font-weight: 700;
    color: #2A3F54;
    padding-bottom: 20px;
}

.slide{
    display: column;
}

.ul-slide{
    display: flex;
}

.slide-img img{
    max-width: 800px;
}

.text-slide{
    width: 600px;
}
/*.................................................................. text-img  */


.text-img{
    background-image: url("../img/");
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-color:#DAE5F2;;
    height: 350px;
}

.text-header{
  align-items: end;
  padding-top: 60px;

}
.text-header h2{
  color:#2A3F54;
  font-size: 60px;

}
